Repository OLIENTTECH-Challenge/olienttech-frontend-challenge: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, stylelint

prettier:
  run: 'pnpm prettier -w {staged_files}
  
    git add {staged_files}
  
    '

eslint:
  run: 'pnpm eslint --fix {staged_files}
  
    git add {staged_files}
  
    '

tsc:
  run: pnpm tsc --noEmit

stylelint:
  run: 'pnpm stylelint --fix {staged_files}
  
    git add {staged_files}
  
    '

Fix optional parameter in failure function
  packages/model/src/result.ts
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint, tsc

Fix typo and add "type" field to package.json
  packages/model/package.json
  packages/server/prisma/dev.db
  packages/server/prisma/seed.ts
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint, tsc

Update .gitignore to ignore all .db files
  packages/server/prisma/.gitignore
  packages/server/prisma/dev.db
Due: none

Add ignore rule for __generated__ directory
  .eslintignore
Due: none

Add description field to Shop and Manufacturer models
  packages/server/prisma/migrations/20231201130309_init/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/prisma/seed.ts
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
Due: prettier, eslint, tsc

Refactor seed.ts to include handlingProducts in manufacturer data
  packages/server/prisma/seed.ts
Due: prettier, eslint, tsc

Add dist to .gitignore and update tsconfig.json
  packages/server/prisma/.gitignore
  packages/server/prisma/data/manufacturers.ts
  packages/server/prisma/data/products.ts
  packages/server/prisma/data/shops.ts
  packages/server/prisma/seed.ts
  packages/server/tsconfig.json
Due: prettier, eslint, tsc

Fix bug in login functionality
  packages/server/prisma/data/products.ts
Due: prettier, eslint, tsc

Update data types and routes in server and model
  packages/model/src/index.ts
  packages/server/src/index.ts
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint, tsc

Add product route and handling-products endpoint
  packages/model/src/index.ts
  packages/server/src/index.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/index.ts
Due: prettier, eslint, tsc

Add ManufacturerHandlingProduct type definition
  packages/model/src/index.ts
Due: prettier, eslint, tsc

Add ignore rule for generated files
  .prettierignore
Due: none

Refactor shop API endpoints
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint, tsc

Remove eslint-disable comment in result.ts
  packages/model/src/result.ts
Due: prettier, eslint, tsc

Remove unnecessary ignore patterns in ESLint configuration
  .eslintignore
  eslint.config.js
Due: prettier, eslint

Refactor manufacturer tests and import statement
  packages/server/src/resources/manufacturer/__tests__/index.test.ts
Due: prettier, eslint, tsc

Update import path in seed.ts
  packages/server/prisma/seed.ts
Due: prettier, eslint, tsc

Add bin to .gitignore and package.json
  .gitignore
  package.json
  pnpm-lock.yaml
  taskfile.yml
Due: prettier

Remove unnecessary "postinstall" property from config
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/prisma-client-js/edge.js
  packages/server/src/__generated__/prisma-client-js/index.d.ts
  packages/server/src/__generated__/prisma-client-js/index.js
  packages/server/src/__generated__/prisma-client-js/runtime/library.d.ts
Due: prettier, eslint, tsc

Add .env file and update .gitignore
  packages/server/.env
  packages/server/.gitignore
Due: none

Add pnpm bootstrap command
  README.md
Due: none

Update pnpm bootstrap command
  README.md
Due: none

Update test script to run in band and add new dev dependencies
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier

Refactor server routes and add authentication endpoint
  packages/model/src/result.ts
  packages/server/src/index.ts
  packages/server/src/libs/utils/jwt.ts
  packages/server/src/resources/admin/__tests__/index.test.ts
  packages/server/src/resources/admin/index.ts
  packages/server/src/resources/auth/__tests__/index.test.ts
  packages/server/src/resources/auth/index.ts
  packages/server/src/resources/manufacturer/__tests__/index.test.ts
Due: prettier, eslint, tsc

Add postinstall script to run lefthook install
  package.json
Due: prettier

Update pre-commit hooks to include error handling
  lefthook.yml
Due: prettier

Add select box component and stocks page
  packages/client/src/components/base/select-box/select-box.module.css
  packages/client/src/components/base/select-box/select-box.module.css.d.ts
  packages/client/src/components/base/select-box/select-box.module.css.d.ts.map
  packages/client/src/components/base/select-box/select-box.tsx
  packages/client/src/components/domain/home/home-page.tsx
  packages/client/src/components/domain/stock/stocks.module.css
  packages/client/src/components/domain/stock/stocks.module.css.d.ts
  packages/client/src/components/domain/stock/stocks.module.css.d.ts.map
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/pages/stocks/index.tsx
  packages/client/src/router.tsx
Due: prettier, eslint, tsc, stylelint

Add table component and stock table component
  packages/client/src/components/base/table/table.module.css
  packages/client/src/components/base/table/table.module.css.d.ts
  packages/client/src/components/base/table/table.module.css.d.ts.map
  packages/client/src/components/base/table/table.tsx
  packages/client/src/components/domain/stock/stock-table/stock-table.tsx
  packages/client/src/components/domain/stock/stocks.tsx
Due: prettier, eslint, tsc, stylelint

Add outlined-button component
  packages/client/src/components/base/button/link-button/link-button.module.css
  packages/client/src/components/base/button/link-button/link-button.module.css.d.ts
  packages/client/src/components/base/button/link-button/link-button.module.css.d.ts.map
  packages/client/src/components/base/button/link-button/link-button.stories.tsx
  packages/client/src/components/base/button/link-button/link-button.tsx
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css.d.ts
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css.d.ts.map
  packages/client/src/components/base/button/outlined-button/outlined-button.tsx
  packages/client/src/components/domain/home/home-page.tsx
Due: prettier, eslint, tsc, stylelint

Refactor table component and add stock buttons
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css.d.ts
  packages/client/src/components/base/table/table.module.css.d.ts
Due: prettier, eslint, tsc

Refactor table component and add stock buttons
  packages/client/src/components/base/table/table.module.css
  packages/client/src/components/base/table/table.module.css.d.ts
  packages/client/src/components/base/table/table.module.css.d.ts.map
  packages/client/src/components/base/table/table.tsx
  packages/client/src/components/domain/stock/stock-table/stock-table.tsx
Due: prettier, eslint, tsc, stylelint

Refactor stock selection logic and filter stock items by selected pharmacy
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/interfaces/stores.d.ts
Due: prettier, eslint, tsc

Refactor button styles in OutlinedButton component
  packages/client/src/components/base/button/outlined-button/outlined-button.tsx
Due: prettier, eslint, tsc

Add stockItems mock data
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/mocks/stocks-item.ts
Due: prettier, eslint, tsc

Refactor stock table and update interfaces
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/interfaces/stores.d.ts
  packages/client/src/interfaces/stores.ts
  packages/client/src/mocks/stock-item.ts
Due: prettier, eslint, tsc

Refactor outlined button styles
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css.d.ts.map
  packages/client/src/components/base/button/outlined-button/outlined-button.tsx
Due: prettier, eslint, tsc, stylelint

Add @olienttech/model as a devDependency
  packages/client/package.json
  packages/client/src/mocks/stock-item.ts
  pnpm-lock.yaml
Due: prettier, eslint, tsc

Add login page
  packages/client/src/components/domain/home/home-page.tsx
  packages/client/src/components/domain/login/login.tsx
  packages/client/src/pages/manufacturer/login/index.tsx
  packages/client/src/pages/stocks/index.tsx
  packages/client/src/router.tsx
Due: prettier, eslint, tsc

Path conditions:
  prettier: any of: *.{json,yml,ts,tsx,js,jsx}
  eslint: any of: *.{ts,tsx,js,jsx,cjs}
  tsc: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss,less}
