Repository OLIENTTECH-Challenge/olienttech-frontend-challenge: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  run: 'pnpm prettier -w {staged_files} || exit 1
  
    git add {staged_files}
  
    '

eslint:
  run: 'pnpm eslint --fix {staged_files} || exit 1
  
    git add {staged_files}
  
    '

stylelint:
  run: 'pnpm stylelint --fix {staged_files} || exit 1
  
    git add {staged_files}
  
    '

uuidに変更
  packages/model/src/index.ts
  packages/server/prisma/migrations/20240110063547_/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/prisma-client-js/edge.js
  packages/server/src/__generated__/prisma-client-js/index.d.ts
  packages/server/src/__generated__/prisma-client-js/index.js
  packages/server/src/__generated__/prisma-client-js/schema.prisma
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/manufacturer/public.ts
Due: prettier, eslint

Update JWT payload key from 'sub' to 'id'
  packages/server/src/libs/utils/jwt.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/manufacturer/public.ts
Due: prettier, eslint

Update admin token payload
  packages/server/src/resources/admin/__tests__/index.test.ts
  packages/server/src/resources/admin/index.ts
Due: prettier, eslint

update product stock
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint

impl swagger-ui
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/libs/utils/schema.ts
  packages/server/src/resources/manufacturer/index.ts
  pnpm-lock.yaml
Due: prettier, eslint

fix title
  packages/server/src/index.ts
Due: prettier, eslint

Refactor OpenAPIHono initialization and add request validation
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint

Remove unused code for getting manufacturers
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint

Remove unused code and refactor manufacturer login endpoint
  packages/server/src/index.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/manufacturer/public.ts
Due: prettier, eslint

Refactor routes and remove unused code
  packages/server/src/index.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/index.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

Refactor OpenAPIHono initialization
  packages/server/src/index.ts
  packages/server/src/libs/hono.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/index.ts
Due: prettier, eslint

impl shop login
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

cors
  packages/client/vite.config.ts
  packages/server/src/index.ts
Due: prettier, eslint

impl login page
  packages/client/index.html
  packages/client/src/components/base/input/TextInput.module.css
  packages/client/src/components/base/input/TextInput.module.css.d.ts
  packages/client/src/components/base/input/TextInput.module.css.d.ts.map
  packages/client/src/components/base/input/TextInput.tsx
  packages/client/src/components/domain/login/login.module.css
  packages/client/src/components/domain/login/login.module.css.d.ts
  packages/client/src/components/domain/login/login.module.css.d.ts.map
  packages/client/src/components/domain/login/login.tsx
  packages/client/src/index.css
  packages/client/src/libs/constants.ts
Due: prettier, eslint, stylelint

🚚
  packages/client/src/components/domain/login/login.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/LoginPage.module.css
  packages/client/src/components/domain/manufacturer/LoginPage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/LoginPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/pages/manufacturer/login/index.tsx
Due: prettier, eslint, stylelint

impl handle product page
  packages/client/package.json
  packages/client/src/components/base/button/action-button/action-button.module.css
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts.map
  packages/client/src/components/base/input/TextInput.tsx
  packages/client/src/components/case/table/Table.module.css
  packages/client/src/components/case/table/Table.module.css.d.ts
  packages/client/src/components/case/table/Table.module.css.d.ts.map
  packages/client/src/components/case/table/Table.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
  packages/client/src/pages/manufacturer/login.tsx
  packages/client/src/pages/manufacturer/products.tsx
  packages/client/src/router.tsx
  packages/server/src/resources/manufacturer/index.ts
  pnpm-lock.yaml
Due: prettier, eslint, stylelint

toast
  packages/client/package.json
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
  packages/client/src/main.tsx
  pnpm-lock.yaml
Due: prettier, eslint

refactor
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/api/model/index.ts
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
Due: prettier, eslint

impl invoice
  packages/client/src/api/manufacturer/index.ts
  packages/server/prisma/migrations/20240111021422_/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
  packages/server/src/__generated__/prisma-client-js/edge.js
  packages/server/src/__generated__/prisma-client-js/index-browser.js
  packages/server/src/__generated__/prisma-client-js/index.d.ts
  packages/server/src/__generated__/prisma-client-js/index.js
  packages/server/src/__generated__/prisma-client-js/schema.prisma
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

refactor
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
Due: prettier, eslint

impl login
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
  packages/client/src/main.tsx
  packages/client/src/providers/auth.tsx
  packages/model/src/index.ts
  packages/server/src/libs/utils/jwt.ts
  packages/server/src/resources/admin/index.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/index.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

impl login
  packages/client/src/api/index.ts
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
  packages/client/src/components/domain/stock/stock-manager.module.css
  packages/client/src/components/domain/stock/stock-manager.module.css.d.ts
  packages/client/src/components/domain/stock/stock-manager.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-manager.tsx
  packages/client/src/components/domain/stock/stock-table.module.css
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/components/domain/stock/stocks.module.css
  packages/client/src/components/domain/stock/stocks.module.css.d.ts
  packages/client/src/components/domain/stock/stocks.module.css.d.ts.map
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/hooks/useAuthLoaderData.ts
  packages/client/src/loader.ts
  packages/client/src/main.tsx
  packages/client/src/mocks/manufactures.ts
  packages/client/src/pages/manufacturer/stocks/index.tsx
  packages/client/src/providers/auth.tsx
  packages/client/src/router.tsx
  packages/server/src/index.ts
Due: prettier, eslint, stylelint

impl top
  packages/client/src/components/base/card/link-card.module.css
  packages/client/src/components/base/card/link-card.module.css.d.ts
  packages/client/src/components/base/card/link-card.module.css.d.ts.map
  packages/client/src/components/base/card/link-card.tsx
  packages/client/src/components/case/container/flexible-container.module.css
  packages/client/src/components/case/container/flexible-container.module.css.d.ts
  packages/client/src/components/case/container/flexible-container.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/HomePage.module.css
  packages/client/src/components/domain/manufacturer/HomePage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/HomePage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/pages/manufacturer/index.tsx
  packages/client/src/router.tsx
Due: prettier, eslint, stylelint

impl
  packages/client/src/components/case/Breadcrumb.module.css
  packages/client/src/components/case/Breadcrumb.module.css.d.ts
  packages/client/src/components/case/Breadcrumb.module.css.d.ts.map
  packages/client/src/components/case/Breadcrumb.tsx
  packages/client/src/components/case/container/Container.module.css
  packages/client/src/components/case/container/Container.module.css.d.ts
  packages/client/src/components/case/container/Container.module.css.d.ts.map
  packages/client/src/components/case/container/Container.stories.tsx
  packages/client/src/components/case/container/Container.tsx
  packages/client/src/components/case/container/flexible-container.module.css.d.ts.map
  packages/client/src/components/case/container/flexible-container.tsx
  packages/client/src/components/domain/home/home-page.tsx
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/components/domain/manufacturer/Layout.module.css
  packages/client/src/components/domain/manufacturer/Layout.module.css.d.ts
  packages/client/src/components/domain/manufacturer/Layout.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/Layout.tsx
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
  packages/client/src/loader.ts
  packages/client/src/pages/manufacturer/layout.tsx
  packages/client/src/router.tsx
Due: prettier, eslint, stylelint

impl
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/api/model/index.ts
  packages/client/src/components/domain/manufacturer/HomePage.module.css
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/components/domain/manufacturer/Layout.tsx
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
Due: prettier, eslint, stylelint

fix path
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

fix table name
  packages/server/prisma/migrations/20240111021422_/migration.sql
  packages/server/prisma/migrations/20240111103617_/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
  packages/server/src/__generated__/prisma-client-js/edge.js
  packages/server/src/__generated__/prisma-client-js/index-browser.js
  packages/server/src/__generated__/prisma-client-js/index.d.ts
  packages/server/src/__generated__/prisma-client-js/index.js
  packages/server/src/__generated__/prisma-client-js/schema.prisma
Due: prettier, eslint

impl orders
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/api/model/index.ts
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/components/domain/manufacturer/Layout.tsx
  packages/client/src/components/domain/manufacturer/OrderListPage.tsx
  packages/client/src/pages/manufacturer/orders.tsx
  packages/client/src/router.tsx
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint

fix model
  packages/client/src/api/model/index.ts
  packages/client/src/components/domain/manufacturer/OrderListPage.tsx
  packages/server/prisma/migrations/20240111115724_/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
  packages/server/src/__generated__/prisma-client-js/edge.js
  packages/server/src/__generated__/prisma-client-js/index-browser.js
  packages/server/src/__generated__/prisma-client-js/index.d.ts
  packages/server/src/__generated__/prisma-client-js/index.js
  packages/server/src/__generated__/prisma-client-js/schema.prisma
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint

impl order page
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/components/case/Table.tsx
  packages/client/src/components/domain/manufacturer/Layout.tsx
  packages/client/src/components/domain/manufacturer/OrderListPage.tsx
  packages/client/src/components/domain/manufacturer/OrderPage.module.css
  packages/client/src/components/domain/manufacturer/OrderPage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/OrderPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/OrderPage.tsx
  packages/client/src/pages/manufacturer/order.tsx
  packages/client/src/router.tsx
  packages/server/prisma/migrations/20240111121521_/migration.sql
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint, stylelint

impl
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/api/model/index.ts
  packages/client/src/components/case/Table.module.css
  packages/client/src/components/case/Table.module.css.d.ts.map
  packages/client/src/components/case/Table.tsx
  packages/client/src/components/domain/manufacturer/OrderListPage.module.css
  packages/client/src/components/domain/manufacturer/OrderListPage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/OrderListPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/OrderListPage.tsx
  packages/client/src/components/domain/manufacturer/OrderPage.module.css
  packages/client/src/components/domain/manufacturer/OrderPage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/OrderPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/OrderPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
  packages/server/prisma/migrations/20240111130808_/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/prisma/seed.ts
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
  packages/server/src/__generated__/prisma-client-js/edge.js
  packages/server/src/__generated__/prisma-client-js/index-browser.js
  packages/server/src/__generated__/prisma-client-js/index.d.ts
  packages/server/src/__generated__/prisma-client-js/index.js
  packages/server/src/__generated__/prisma-client-js/schema.prisma
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint, stylelint

hotfix
  packages/server/src/index.ts
Due: prettier, eslint

refactor
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/api/model/index.ts
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/components/domain/manufacturer/OrderListPage.tsx
  packages/client/src/components/domain/manufacturer/OrderPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
Due: prettier, eslint

hotfix vscode setting
  gx-frontend-challenges.code-workspace
Due: none

add shop route
  packages/client/src/components/domain/shop/HomePage.tsx
  packages/client/src/components/domain/shop/Layout.module.css
  packages/client/src/components/domain/shop/Layout.module.css.d.ts
  packages/client/src/components/domain/shop/Layout.module.css.d.ts.map
  packages/client/src/components/domain/shop/Layout.tsx
  packages/client/src/pages/shop/index.tsx
  packages/client/src/pages/shop/layout.tsx
  packages/client/src/router.tsx
Due: prettier, eslint, stylelint

add doc
  README.md
  packages/client/src/components/common/HomeHeader.tsx
  packages/client/src/components/domain/home/HomePage.tsx
Due: prettier, eslint

add logout feat
  packages/client/src/components/base/ActionButton.module.css
  packages/client/src/components/base/ActionButton.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/HomePage.module.css
  packages/client/src/components/domain/manufacturer/HomePage.module.css.d.ts
  packages/client/src/components/domain/manufacturer/HomePage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/HomePage.tsx
Due: prettier, eslint, stylelint

rename
  packages/client/src/components/base/ActionButton.module.css.d.ts.map
  packages/client/src/components/base/Button.module.css
  packages/client/src/components/base/Button.module.css.d.ts
  packages/client/src/components/base/Button.module.css.d.ts.map
  packages/client/src/components/base/Button.stories.tsx
  packages/client/src/components/base/Button.tsx
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
Due: prettier, eslint, stylelint

Path conditions:
  prettier: any of: *.{json,yml,ts,tsx,js,jsx}
  eslint: any of: *.{ts,tsx,js,jsx,cjs}
  stylelint: any of: *.{css,scss,less}
