Repository OLIENTTECH-Challenge/olienttech-frontend-challenge: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  run: 'pnpm prettier -w {staged_files} || exit 1
  
    git add {staged_files}
  
    '

eslint:
  run: 'pnpm eslint --fix {staged_files} || exit 1
  
    git add {staged_files}
  
    '

stylelint:
  run: 'pnpm stylelint --fix {staged_files} || exit 1
  
    git add {staged_files}
  
    '

rename path
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

fix error response doc
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/index.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

get orders api
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

refactor
  packages/client/src/components/domain/manufacturer/Layout.tsx
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/loader.ts
  packages/client/src/router.tsx
Due: prettier, eslint

implement test
  packages/server/src/resources/manufacturer/__tests__/index.test.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/__tests__/index.test.ts
  packages/server/src/resources/shop/__tests__/index.test.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

remove admin route
  packages/server/src/index.ts
  packages/server/src/resources/admin/__tests__/index.test.ts
  packages/server/src/resources/admin/index.ts
Due: prettier, eslint

remove image property
  packages/client/src/api/manufacturer/index.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/index.ts
Due: prettier, eslint

implement pagination
  packages/server/package.json
  packages/server/src/libs/prisma.ts
  packages/server/src/libs/utils/parseInt.ts
  packages/server/src/resources/shop/__tests__/index.test.ts
  packages/server/src/resources/shop/index.ts
  pnpm-lock.yaml
Due: prettier, eslint

hotfix https://github.com/prisma/prisma/discussions/12501
  .npmrc
Due: none

create database package
  README.md
  gx-frontend-challenges.code-workspace
  package.json
  packages/database/.env
  packages/database/.gitignore
  packages/database/data/manufacturers.ts
  packages/database/data/products.ts
  packages/database/data/shops.ts
  packages/database/index.ts
  packages/database/migrations/20240111130808_/migration.sql
  packages/database/migrations/migration_lock.toml
  packages/database/package.json
  packages/database/schema.prisma
  packages/database/seed.ts
  packages/database/tsconfig.json
  pnpm-lock.yaml
  taskfile.yml
  turbo.json
Due: prettier, eslint

fix server
  packages/server/jest.config.ts
  packages/server/package.json
  packages/server/src/global-setup.ts
  packages/server/src/libs/prisma.ts
  packages/server/src/libs/utils/prisma.ts
  packages/server/src/resources/manufacturer/__tests__/index.test.ts
  packages/server/src/resources/product/__tests__/index.test.ts
  packages/server/src/resources/shop/__tests__/index.test.ts
  packages/server/src/setup-prisma.ts
  packages/server/src/types/jest-prisma.d.ts
  packages/server/tsconfig.json
Due: prettier, eslint

hotfix generate prisma client
  .github/workflows/lint.yml
Due: prettier

Fix to dev URL
  gx-frontend-challenges.code-workspace
Due: none

Fix to launch prisma studio running dev
  turbo.json
Due: prettier

install biome
  .prettierignore
  biome.jsonc
  eslint.config.js
  gx-frontend-challenges.code-workspace
  lefthook.yml
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier, eslint

Hotfix dev command
  packages/database/package.json
  turbo.json
Due: prettier

Run biome check
  packages/client/src/api/index.ts
  packages/client/src/api/manufacturer/index.ts
  packages/client/src/components/base/Button.tsx
  packages/client/src/components/base/Header.tsx
  packages/client/src/components/base/LinkButton.tsx
  packages/client/src/components/base/LinkCard.tsx
  packages/client/src/components/case/Breadcrumb.tsx
  packages/client/src/components/case/Container.tsx
  packages/client/src/components/case/Table.tsx
  packages/client/src/components/domain/home/HomePage.tsx
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/components/domain/manufacturer/Layout.tsx
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/components/domain/manufacturer/OrderListPage.tsx
  packages/client/src/components/domain/manufacturer/OrderPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
  packages/client/src/hooks/useAuthLoaderData.ts
  packages/client/src/loader.ts
  packages/client/src/main.tsx
  packages/client/src/router.tsx
  packages/client/vite.config.ts
  packages/database/seed.ts
  packages/model/src/result.ts
  packages/server/jest.config.ts
  packages/server/src/global-setup.ts
  packages/server/src/index.ts
  packages/server/src/libs/utils/jwt.ts
  packages/server/src/libs/utils/parseInt.ts
  packages/server/src/resources/manufacturer/__tests__/index.test.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/product/__tests__/index.test.ts
  packages/server/src/resources/product/index.ts
  packages/server/src/resources/shop/__tests__/index.test.ts
Due: prettier, eslint

Add test command
  package.json
  turbo.json
Due: prettier

Uninstall eslint and prettier
  .github/workflows/check.yml
  package.json
  pnpm-lock.yaml
Due: prettier

Hotfix to add generate prisma client task
  .github/workflows/check.yml
Due: prettier

Remove *.css.d.ts.map
  packages/client/.gitignore
  packages/client/src/components/base/Button.module.css.d.ts.map
  packages/client/src/components/base/Header.module.css.d.ts.map
  packages/client/src/components/base/Image.module.css.d.ts.map
  packages/client/src/components/base/LinkButton.module.css.d.ts.map
  packages/client/src/components/base/LinkCard.module.css.d.ts.map
  packages/client/src/components/base/TextInput.module.css.d.ts.map
  packages/client/src/components/case/Breadcrumb.module.css.d.ts.map
  packages/client/src/components/case/Container.module.css.d.ts.map
  packages/client/src/components/case/Table.module.css.d.ts.map
  packages/client/src/components/domain/home/HomePage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/HomePage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/Layout.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/LoginPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/OrderListPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/OrderPage.module.css.d.ts.map
  packages/client/src/components/domain/manufacturer/ProductListPage.module.css.d.ts.map
  packages/client/src/components/domain/shop/Layout.module.css.d.ts.map
Due: none

Add biome ignore
  biome.jsonc
Due: none

Hotfix disable form submit
  packages/client/src/components/base/Button.tsx
  packages/client/src/components/domain/manufacturer/HomePage.tsx
  packages/client/src/components/domain/manufacturer/LoginPage.tsx
  packages/client/src/components/domain/manufacturer/ProductListPage.tsx
Due: prettier, eslint

Add network URL
  packages/server/src/index.ts
Due: prettier, eslint

Fix response of shop login
  packages/server/src/resources/manufacturer/index.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

Fix error handling on lacking products
  packages/server/src/resources/shop/__tests__/index.test.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{json,yml,ts,tsx,js,jsx}
  eslint: any of: *.{ts,tsx,js,jsx,cjs}
  stylelint: any of: *.{css,scss,less}
