Repository OLIENTTECH-Challenge/olienttech-frontend-challenge: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, stylelint

prettier:
  run: 'pnpm prettier -w {staged_files}
  
    git add {staged_files}
  
    '

eslint:
  run: 'pnpm eslint --fix {staged_files}
  
    git add {staged_files}
  
    '

tsc:
  run: pnpm tsc --noEmit

stylelint:
  run: 'pnpm stylelint --fix {staged_files}
  
    git add {staged_files}
  
    '

Add new component stories
  src/components/base/button/link-button.stories.tsx
  src/components/base/card/link-card.stories.tsx
  src/components/base/header/header.stories.tsx
  src/components/base/image/image.stories.tsx
  src/components/case/container/flexible-container.stories.tsx
  src/components/common/company-image/gx-company-image.stories.tsx
  src/components/common/home-header/home-header.stories.tsx
Due: prettier, eslint, tsc

Fix import typo in link-button and link-card components
  src/components/base/button/link-button.tsx
  src/components/base/card/link-card.tsx
  src/libs/utils/classnames.ts
Due: prettier, eslint, tsc

Update Storybook configuration
  package.json
Due: prettier

Add frontend lint workflow
  .github/workflows/frontend-lint.yml
Due: prettier

Refactor import statements in link-button and link-card components
  .github/workflows/frontend-lint.yml
  src/components/base/button/link-button.tsx
  src/components/base/card/link-card.tsx
  src/libs/utils.ts
Due: prettier, eslint, tsc

Update package.json and tsconfig.json
  package.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/tsconfig/package.json
  packages/tsconfig/react/tsconfig.json
  pnpm-lock.yaml
Due: prettier

install turbopack
  .gitignore
  package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier

Update README.md with environment setup instructions
  README.md
Due: none

Update logo image path
  README.md
Due: none

Update logo source in README
  README.md
  assets/olientgx-logo.svg
Due: none

Fix linting command in README
  README.md
Due: none

Update development environment setup and add instructions for running development server
  README.md
Due: none

Add installation instructions for Node.js and Corepack
  README.md
Due: none

install hono
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint, tsc

Add build script and update tsconfig
  packages/server/package.json
  packages/server/tsconfig.json
  packages/tsconfig/hono/tsconfig.json
  pnpm-lock.yaml
Due: prettier

Update package.json and tsconfig.json
  README.md
  package.json
  packages/server/package.json
  packages/tsconfig/hono/tsconfig.json
  pnpm-lock.yaml
Due: prettier

Add serve command to package.json files
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/server/src/index.ts
  turbo.json
Due: prettier, eslint, tsc

Add instructions for accessing the application and running server
  README.md
Due: none

Add linting workflow
  .github/workflows/lint.yml
Due: prettier

Add devDependency @types/node to package.json
  package.json
  packages/client/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier

Disable require-await rule in eslint.config.js
  eslint.config.js
Due: prettier, eslint

Add routes for manufacturer and shop
  packages/server/src/index.ts
  packages/server/src/resources/manifacturer/index.ts
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint, tsc

Add model package with initial files
  packages/model/package.json
  packages/model/src/index.ts
  packages/model/tsconfig.json
  packages/tsconfig/vanilla/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint, tsc

Update routes and dependencies
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/resources/manifacturer/index.ts
  packages/server/src/resources/manufacturer/index.ts
Due: prettier, eslint, tsc

Add dummy shop data and API endpoints
  packages/server/src/resources/shop/index.ts
Due: prettier, eslint, tsc

Add private routes for shops and manufacturers
  packages/server/src/index.ts
  packages/server/src/libs/constants/env.ts
  packages/server/src/resources/admin/index.ts
Due: prettier, eslint, tsc

Add description field to Product interface
  packages/model/src/index.ts
Due: prettier, eslint, tsc

Update tsconfig and package.json for Jest configuration
  package.json
  packages/server/jest.config.ts
  packages/server/package.json
  packages/server/src/resources/admin/__tests__/index.test.ts
  packages/server/tsconfig.json
  packages/tsconfig/hono/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint, tsc

Add JWT utility functions and update admin resource
  packages/server/src/libs/utils/jwt.ts
  packages/server/src/resources/admin/__tests__/index.test.ts
  packages/server/src/resources/admin/index.ts
Due: prettier, eslint, tsc

Refactor admin token endpoint test
  packages/server/src/resources/admin/__tests__/index.test.ts
Due: prettier, eslint, tsc

Remove unnecessary VSCode configuration files
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  gx-frontend-challenges.code-workspace
Due: prettier

Add Prisma to workspace
  gx-frontend-challenges.code-workspace
  packages/server/.gitignore
  packages/server/package.json
  packages/server/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier

Update workspace and server configurations
  gx-frontend-challenges.code-workspace
  packages/server/package.json
  packages/server/prisma/dev.db
  packages/server/prisma/migrations/20231130125840_init/migration.sql
  packages/server/prisma/migrations/migration_lock.toml
  packages/server/prisma/schema.prisma
  packages/server/prisma/seed.ts
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint, tsc

Update code formatting settings
  gx-frontend-challenges.code-workspace
Due: none

Add new files and update tsconfig.json
  packages/server/package.json
  packages/server/prisma/.gitignore
  packages/server/prisma/schema.prisma
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint, tsc

Commented out prettier and stylelint config files
  gx-frontend-challenges.code-workspace
Due: none

Add new files and update existing files
  packages/model/src/index.ts
  packages/model/src/result.ts
  packages/server/jest.config.ts
  packages/server/package.json
  packages/server/prisma/dev.db
  packages/server/prisma/migrations/20231130125840_init/migration.sql
  packages/server/prisma/migrations/20231201061227_init/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/prisma/seed.ts
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
  packages/server/src/libs/prisma.ts
  packages/server/src/libs/utils/prisma.ts
  packages/server/src/resources/manufacturer/__tests__/index.test.ts
  packages/server/src/resources/manufacturer/index.ts
  packages/server/tsconfig.json
Due: prettier, eslint, tsc

Update product model in schema.prisma and add migration.sql and seed.ts files
  packages/server/prisma/dev.db
  packages/server/prisma/migrations/20231201063358_init/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/prisma/seed.ts
  packages/server/src/__generated__/fabbrica/index.d.ts
  packages/server/src/__generated__/fabbrica/index.js
Due: prettier, eslint, tsc

Update manufacturer names
  packages/server/prisma/dev.db
  packages/server/prisma/seed.ts
Due: prettier, eslint, tsc

Path conditions:
  prettier: any of: *.{json,yml,ts,tsx,js,jsx}
  eslint: any of: *.{ts,tsx,js,jsx,cjs}
  tsc: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss,less}
