Repository OLIENTTECH-Challenge/olienttech-frontend-challenge: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  run: 'pnpm prettier -w {staged_files} || exit 1
  
    git add {staged_files}
  
    '

eslint:
  run: 'pnpm eslint --fix {staged_files} || exit 1
  
    git add {staged_files}
  
    '

stylelint:
  run: 'pnpm stylelint --fix {staged_files} || exit 1
  
    git add {staged_files}
  
    '

Update stock table to use ManufacturerHandlingProduct model
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/pages/manufacturer/stocks/index.tsx
Due: prettier, eslint

Add spacing-2xl variable to index.css and update styles in stocks.module.css and table.module.css
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css.d.ts
  packages/client/src/components/base/table/table.module.css.d.ts
Due: prettier, eslint

Update login style and stock module
  packages/client/src/components/domain/login/login.module.css
  packages/client/src/components/domain/login/login.module.css.d.ts
  packages/client/src/components/domain/login/login.module.css.d.ts.map
  packages/client/src/components/domain/login/login.tsx
  packages/client/src/components/domain/stock/stocks.tsx
Due: prettier, eslint, stylelint

Add spacing-2xl variable to index.css and update styles in stocks.module.css and table.module.css
  packages/client/src/components/base/select-box/select-box.module.css
  packages/client/src/components/base/select-box/select-box.module.css.d.ts
  packages/client/src/components/base/select-box/select-box.module.css.d.ts.map
  packages/client/src/components/base/select-box/select-box.tsx
  packages/client/src/components/base/table/table.module.css
  packages/client/src/components/base/table/table.module.css.d.ts.map
  packages/client/src/components/domain/stock/stocks.module.css
  packages/client/src/components/domain/stock/stocks.module.css.d.ts
  packages/client/src/components/domain/stock/stocks.module.css.d.ts.map
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/index.css
  packages/client/src/mocks/stock-item.ts
Due: prettier, eslint, stylelint

Update login and stock components
  packages/client/src/components/domain/login/login.tsx
  packages/client/src/components/domain/stock/stocks.module.css
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/router.tsx
Due: prettier, eslint, stylelint

Add pagination functionality to table component
  packages/client/src/components/base/table/table.module.css
  packages/client/src/components/base/table/table.module.css.d.ts
  packages/client/src/components/base/table/table.module.css.d.ts.map
  packages/client/src/components/base/table/table.tsx
Due: prettier, eslint, stylelint

Add storybook
  packages/client/src/components/base/button/outlined-button/outlined-button.stories.tsx
  packages/client/src/components/base/button/outlined-button/outlined-button.tsx
  packages/client/src/components/base/select-box/select-box.stories.tsx
  packages/client/src/components/base/select-box/select-box.tsx
  packages/client/src/components/base/table/pagination.stories.tsx
  packages/client/src/components/base/table/pagination.tsx
  packages/client/src/components/base/table/table.stories.tsx
  packages/client/src/components/base/table/table.tsx
  packages/client/src/components/domain/login/login.tsx
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/components/domain/stock/stocks.tsx
Due: prettier, eslint

Update button background color variable
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css
  packages/client/src/index.css
Due: stylelint

Refactor pagination component
  packages/client/src/components/base/table/pagination.module.css
  packages/client/src/components/base/table/pagination.module.css.d.ts
  packages/client/src/components/base/table/pagination.module.css.d.ts.map
  packages/client/src/components/base/table/pagination.tsx
  packages/client/src/components/base/table/table.module.css
  packages/client/src/components/base/table/table.module.css.d.ts
  packages/client/src/components/base/table/table.module.css.d.ts.map
  packages/client/src/components/base/table/table.tsx
Due: prettier, eslint, stylelint

Update using css color variable
  packages/client/src/components/base/select-box/select-box.module.css
  packages/client/src/components/base/table/pagination.module.css
  packages/client/src/components/base/table/table.module.css
  packages/client/src/components/domain/login/login.module.css
  packages/client/src/components/domain/login/login.module.css.d.ts.map
  packages/client/src/index.css
Due: stylelint

Add prettier and run format
  packages/client/package.json
  packages/client/src/components/base/button/link-button/link-button.module.css.d.ts
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css
  packages/client/src/components/base/card/link-card.module.css.d.ts
  packages/client/src/components/base/header/header.module.css.d.ts
  packages/client/src/components/base/image/image.module.css.d.ts
  packages/client/src/components/base/select-box/select-box.module.css.d.ts
  packages/client/src/components/base/table/pagination.module.css
  packages/client/src/components/base/table/pagination.module.css.d.ts.map
  packages/client/src/components/base/table/table.module.css
  packages/client/src/components/base/table/table.module.css.d.ts.map
  packages/client/src/components/case/container/flexible-container.module.css.d.ts
  packages/client/src/components/domain/home/home-page.module.css.d.ts
  packages/client/src/components/domain/login/login.module.css.d.ts
  packages/client/src/components/domain/stock/stocks.module.css.d.ts
  pnpm-lock.yaml
Due: prettier, eslint, stylelint

Delete table style variable
  packages/client/src/components/base/table/table.module.css
  packages/client/src/index.css
Due: stylelint

Delete unused interfaces and update router path
  packages/client/src/interfaces/stores.ts
  packages/client/src/router.tsx
Due: prettier, eslint

fix `@typescript-eslint/no-misused-promises`
  packages/client/src/components/base/button/outlined-button/outlined-button.tsx
Due: prettier, eslint

Update select-box to selectbox
  .vscode/settings.json
  packages/client/src/components/base/select-box/select-box.module.css.d.ts
  packages/client/src/components/base/select-box/select-box.module.css.d.ts.map
  packages/client/src/components/base/selectbox/selectbox.module.css
  packages/client/src/components/base/selectbox/selectbox.module.css.d.ts
  packages/client/src/components/base/selectbox/selectbox.module.css.d.ts.map
  packages/client/src/components/base/selectbox/selectbox.stories.tsx
  packages/client/src/components/base/selectbox/selectbox.tsx
  packages/client/src/components/domain/login/login.tsx
Due: prettier, eslint, stylelint

Delete unused table component and update stock table
  packages/client/src/components/base/table/table.module.css.d.ts.map
  packages/client/src/components/base/table/table.stories.tsx
  packages/client/src/components/base/table/table.tsx
  packages/client/src/components/domain/stock/stock-table.module.css
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-table.tsx
Due: prettier, eslint, stylelint

Refactor pagination component
  packages/client/src/components/base/pagination/pagination.module.css
  packages/client/src/components/base/pagination/pagination.module.css.d.ts
  packages/client/src/components/base/pagination/pagination.module.css.d.ts.map
  packages/client/src/components/base/pagination/pagination.stories.tsx
  packages/client/src/components/base/pagination/pagination.tsx
  packages/client/src/components/base/table/pagination.module.css.d.ts
  packages/client/src/components/base/table/pagination.tsx
  packages/client/src/components/domain/stock/stock-table.tsx
Due: prettier, eslint, stylelint

Add mock manufacturers data
  packages/client/src/components/domain/login/login.tsx
  packages/client/src/mocks/manufactures.ts
Due: prettier, eslint

Delete outlinedButton and add new ActionButton component
  packages/client/src/components/base/button/action-button/action-button.module.css
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts.map
  packages/client/src/components/base/button/action-button/action-button.stories.tsx
  packages/client/src/components/base/button/action-button/action-button.tsx
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css.d.ts
  packages/client/src/components/base/button/outlined-button/outlined-button.module.css.d.ts.map
  packages/client/src/components/base/button/outlined-button/outlined-button.stories.tsx
  packages/client/src/components/base/button/outlined-button/outlined-button.tsx
  packages/client/src/components/base/pagination/pagination.tsx
  packages/client/src/components/base/selectbox/selectbox.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/components/domain/stock/stocks.tsx
Due: prettier, eslint, stylelint

Fix onClick type in ActionButton
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts
  packages/client/src/components/base/button/action-button/action-button.tsx
  packages/client/src/components/domain/stock/stocks.tsx
  packages/client/src/mocks/manufactures.ts
Due: prettier, eslint

Add react-icons package
  packages/client/package.json
  packages/client/src/components/domain/stock/stock-table.tsx
  pnpm-lock.yaml
Due: prettier, eslint

Update button onClick to return a Promise
  packages/client/src/components/base/button/action-button/action-button.tsx
  packages/client/src/components/base/pagination/pagination.tsx
Due: prettier, eslint

Update CSS border-radius value
  packages/client/src/components/domain/login/login.module.css
  packages/client/src/components/domain/login/login.module.css.d.ts
Due: prettier, eslint, stylelint

Fix -force `@typescript-eslint/no-misused-promises`
  packages/client/src/components/base/button/action-button/action-button.tsx
  packages/client/src/components/domain/stock/stock-table.tsx
Due: prettier, eslint

Add popup component and styles
  packages/client/src/components/base/button/action-button/action-button.module.css
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts.map
  packages/client/src/components/base/popup/index.tsx
  packages/client/src/components/base/popup/popup-content.module.css
  packages/client/src/components/base/popup/popup-content.module.css.d.ts
  packages/client/src/components/base/popup/popup-content.module.css.d.ts.map
  packages/client/src/components/base/popup/popup-content.stories.tsx
  packages/client/src/components/base/popup/popup-content.tsx
  packages/client/src/components/base/popup/popup-footer.module.css
  packages/client/src/components/base/popup/popup-footer.module.css.d.ts
  packages/client/src/components/base/popup/popup-footer.module.css.d.ts.map
  packages/client/src/components/base/popup/popup-footer.stories.tsx
  packages/client/src/components/base/popup/popup-footer.tsx
  packages/client/src/components/base/popup/popup-header.module.css
  packages/client/src/components/base/popup/popup-header.module.css.d.ts
  packages/client/src/components/base/popup/popup-header.module.css.d.ts.map
  packages/client/src/components/base/popup/popup-header.stories.tsx
  packages/client/src/components/base/popup/popup-header.tsx
  packages/client/src/components/base/popup/popup.module.css
  packages/client/src/components/base/popup/popup.module.css.d.ts
  packages/client/src/components/base/popup/popup.module.css.d.ts.map
  packages/client/src/components/base/popup/popup.stories.tsx
  packages/client/src/components/base/popup/popup.tsx
  packages/client/src/components/domain/login/login.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/index.css
Due: prettier, eslint, stylelint

Remove duplicate CSS class definitions in stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
Due: prettier, eslint

Update table content align left
  packages/client/src/components/domain/stock/stock-table.module.css
Due: stylelint

Remove prettier from package.json
  packages/client/package.json
Due: prettier

Refactor action button to use classNames utility
  packages/client/src/components/base/button/action-button/action-button.tsx
Due: prettier, eslint

Fix hover effect in pagination buttons
  packages/client/src/components/base/pagination/pagination.module.css
  packages/client/src/components/base/pagination/pagination.module.css.d.ts
  packages/client/src/components/base/pagination/pagination.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/index.css
Due: prettier, eslint, stylelint

fix scroll-bar bug
  packages/client/src/components/domain/stock/stock-table.tsx
Due: prettier, eslint

Add media queries for larger screens
  packages/client/src/components/domain/stock/stock-table.module.css
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts.map
  packages/client/src/components/domain/stock/stocks.module.css
  packages/client/src/components/domain/stock/stocks.module.css.d.ts
  packages/client/src/components/domain/stock/stocks.module.css.d.ts.map
  pnpm-lock.yaml
Due: prettier, eslint, stylelint

Update button and table styles
  packages/client/src/components/base/button/action-button/action-button.module.css
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-table.module.css
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts.map
Due: prettier, eslint, stylelint

Refactor Selectbox component - selectboxのpropsにlabelを追加
  packages/client/src/components/base/selectbox/selectbox.tsx
  packages/client/src/components/domain/login/login.tsx
Due: prettier, eslint

Update selectbox story book
  packages/client/src/components/base/selectbox/selectbox.stories.tsx
Due: prettier, eslint

add code-spell-checker into workspace-setting
  .vscode/settings.json
  gx-frontend-challenges.code-workspace
Due: prettier

Add stock manager component and update stock table component
  packages/client/src/components/domain/stock/stock-manager.module.css
  packages/client/src/components/domain/stock/stock-manager.module.css.d.ts
  packages/client/src/components/domain/stock/stock-manager.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-manager.tsx
  packages/client/src/components/domain/stock/stock-table.module.css
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts.map
  packages/client/src/components/domain/stock/stock-table.tsx
  packages/client/src/components/domain/stock/stocks.tsx
Due: prettier, eslint, stylelint

Fix code-spell-checker configuration
  gx-frontend-challenges.code-workspace
  packages/client/src/components/base/selectbox/selectbox.tsx
Due: prettier, eslint

Update action button styles and add loading spinner
  packages/client/src/components/base/button/action-button/action-button.module.css
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts
  packages/client/src/components/base/button/action-button/action-button.module.css.d.ts.map
  packages/client/src/components/base/button/action-button/action-button.tsx
  packages/client/src/components/domain/stock/stock-manager.tsx
  packages/client/src/components/domain/stock/stock-table.module.css.d.ts
Due: prettier, eslint, stylelint

Add manufacturer public route for signing in
  packages/server/src/index.ts
  packages/server/src/libs/utils/jwt.ts
  packages/server/src/resources/manufacturer/public.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{json,yml,ts,tsx,js,jsx}
  eslint: any of: *.{ts,tsx,js,jsx,cjs}
  stylelint: any of: *.{css,scss,less}
